.dialogs__item {
	width: 100%;
}
.dialogs__item a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	transition-duration: 0.3s;
	padding: 5px 10px;
	margin: 3px 0px;
	background-color: rgb(235, 228, 228);
	border-radius: 5px;
	line-height: 40px;
}
.dialogs__item a.active {
	color: #ffffff;
	background-color: #a19d9d;
}
