.main__dialogs {
	display: grid;
	grid-template-columns: 2fr 4fr;
	width: 100%;
	height: 100%;
}
.dialogs__items {
	width: 100%;
	padding: 10px;
}
.dialogs__messages__body {
	position: relative;
}
.dialogs__messages {
	overflow-y: auto;
	padding: 10px 30px;
	max-height: calc(100vh - 80px - 150px - 20px - 50px);
}
.dialogs__but {
	position: absolute;
	width: 100%;
	z-index: 5;
	bottom: 0px;
	left: 0px;
	padding: 0px 0px 0px 20px;
}
.main__form {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.form__textarea {
	width: 100%;
	height: 50px;
	font-size: 16px;
	padding: 5px 15px;
	color: #000;
	background-color: rgb(194, 191, 191);
	margin: 0px 15px 0px 0px;
	resize: none;
}
