.nav {
	background-color: rgb(183, 242, 212);
	grid-area: nav;
	padding: 10px 20px;
}
.menu {
	display: grid;
}
.menu a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	transition-duration: 0.3s;
	padding: 5px 10px;
	margin: 3px 0px;
	background-color: rgb(205, 201, 201);
	border-radius: 5px;
}
.menu a.active {
	color: #ffffff;
}
.sidebar__title {
	width: 100%;
	font-size: 26px;
	text-align: center;
	font-weight: 700;
	color: #3d3fc5;
	margin: 20px 0px 15px 0px;
}
.sidebar__items {
	display: flex;
	justify-content: space-between;
}
